<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beerpost.name %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beerpost.brewery.name %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @beerpost.beercolour.name %>
</p>

<%= link_to 'Edit', edit_beerpost_path(@beerpost) %> |
<%= link_to 'Back', beerposts_path %>
