<p id="notice"><%= notice %></p>

<h1>Winecolours</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hexcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @winecolours.each do |winecolour| %>
      <tr>
        <td><%= winecolour.name %></td>
        <td><%= winecolour.hexcode %></td>
        <td><%= link_to 'Show', winecolour %></td>
        <td><%= link_to 'Edit', edit_winecolour_path(winecolour) %></td>
        <td><%= link_to 'Destroy', winecolour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Winecolour', new_winecolour_path %>
