<%= form_for(winepost) do |f| %>
  <% if winepost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(winepost.errors.count, "error") %> prohibited this winepost from being saved:</h2>

      <ul>
      <% winepost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
