<p id="notice"><%= notice %></p>

<h1>Wineposts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Winery</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wineposts.each do |winepost| %>
      <tr>
        <td><%= winepost.name %></td>
        <td><%= winepost.winery.name %></td>
        <td><%= winepost.winecolour.name %></td>
        <td><%= link_to 'Show', winepost %></td>
        <td><%= link_to 'Edit', edit_winepost_path(winepost) %></td>
        <td><%= link_to 'Destroy', winepost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Winepost', new_winepost_path %>
