<%= form_for(beercolour) do |f| %>
  <% if beercolour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beercolour.errors.count, "error") %> prohibited this beercolour from being saved:</h2>

      <ul>
      <% beercolour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :colour_image %><br>
    <%= f.file_field :colour_image %>
    <% if f.object.colour_image? %>
      <%= image_tag f.object.colour_image.thumb.url %>
      <%= f.label :remove_colour_image %>
      <%= f.check_box :remove_colour_image %> 
    <% end %>
  </div>

  <div class="field">
    <%= f.label :hexcode %>
    <%= f.text_field :hexcode %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
