<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beercolour.name %>
</p>

<p>
  <strong>Colour:</strong>
  <%= image_tag @beercolour.colour_image.thumb.url.to_s %>

</p>

<p>
  <strong>Hexcode:</strong>
  <%= @beercolour.hexcode %>
</p>

<%= link_to 'Edit', edit_beercolour_path(@beercolour) %> |
<%= link_to 'Back', beercolours_path %>
